h1 {
  text-decoration: underline;
  font-size: 32px;
  /* text-align: center; */
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
}

h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
}

ul {
  font-size: 12px;
  font-weight: normal;
}

ol {
  font-size: 12px;
  font-weight: normal;
}

li {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

section-header {
  font-style: italic;
  font-size: 14px;
  display: block;
}

p {
  font-weight: normal;
  font-size: 14px;
  margin-left: 2em;
/*  text-indent: 2em;*/
  margin-top: 0px;
  margin-bottom: 8px;
}

footnote {
  /* might make it different later. */
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.bodyList {
  font-size: 14px;
}

a, a:visited {
  color: #0000ee;
}

red {
  color: #E80404;
}

orange {
  color: #996400;
}

blue {
  color: #0404E8;
}

body {
  margin-left: 0.5em;
  /*  background-color: #CFCFCF;*/
/*  background-color: #FFFFFF; */
/*  color: #1b1b1b; */
/*  text-shadow: 2px 2px 5px #8a8a8a; */
}

a {
/*  color: #43A6D8;*/
}
